.tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 50px;
}

.task {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 0.2fr 3fr 1fr;
    grid-template-areas: 'complete-task task-title       date-and-utils'
                         'complete-task task-description date-and-utils';
    border-radius: 5px;
    padding: 5px;
}

.complete-task {
    max-width: 25px;
    margin: 2px;
    grid-area: complete-task;
}

.task-title {
    font-size: .8rem;
    grid-area: task-title;
}

.task-description {
    font-size: 0.7rem;
    grid-area: task-description;
}

.date-and-utils {
    display: flex;
    gap: 5px;
    justify-content: end;
    grid-area: date-and-utils;
}

.due-date {
    padding-right: 5px;
    font-size: 0.75rem;
    align-self: center;
}

.edit, .delete {
    width: 25px;
    align-self: center;
}

.green-priority {
    border: 3px solid green;
}

.yellow-priority {
    border: 3px solid gold;
}

.red-priority {
    border: 3px solid red;
}