.add-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
}

.task-dialog {
    background-color: aliceblue;
    justify-self: center;
    align-self: center;
    width: 400px;
    height: 400px;
}

.task-form {
    display: flex;
    flex-direction: column;
}

.add-task-button {
    
}