.add-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
}

.task-dialog {
    justify-self: center;
    align-self: center;
    width: 400px;
    height: 400px;
}

.task-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-task-button {
    background-color: #2196f3;
    color: white;
    width: 100%;
    text-align: center;
}