.add-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 75px;
}

.task-dialog {
    justify-self: center;
    align-self: center;
    width: 400px;
    height: 410px;
}

.task-form {
    height: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.add-task-button, .cancel-button {
    width: 100%;
    margin-top: 8px;
    padding: 8px;
    text-align: center;
    color: white;
}

.add-task-button {
    background-color: #2196f3;
}

.cancel-button {
    background-color: rgb(219, 19, 19);
}

input, textarea, select {
    width: 100%;
}

label {
    font-size: 0.8rem;
}