* {
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 6fr;
	grid-template-rows: 1fr 8fr;
	grid-template-areas:
		'sidebar header'
		'sidebar tasks';
}

.sidebar {
	grid-area: sidebar;
	
}

.header {
	grid-area: header;
	
}

.tasks {
	grid-area: tasks;
	
}
